$primary: #0A2647;
$secondary: #164B92;
$third: #00ABCA;
$third2: #55B8D1;
$off-white: #EAE4D7;
$white: #D9D9D9;
$white2: #eaeaea;
$green: #3E9176;
$dark: #212529;
$blue: #103868;
$yellow: #FECF1D;

$alt-primary: #020619;
$alt-secondary: #0575FF;
$alt-third: #00A5C4;
$alt-fourth: #0CC0DF;